.profileInfo {
    /*display: flex;
    align-items: flex-end;
    gap: 40px;*/
    padding-bottom: 30px;
}

.photoWrapper {
    margin-bottom: 20px;
}

.profileInfo Img {
    width: auto;
    height: 150px;
}

.ProfileStatusBtn {
    border: none;
    background-color: transparent;
}

.info {
    display: flex;
    gap: 30px;
}

.info h2 {
    margin: 0;
}

.info a {
    text-decoration: none;
    color: black;
}

.mainPhoto {
    width: 400px;
}

.contacts {
    padding-left: 10px;
}

.formSummaryError {
    border: 1px solid red;
    color: red;
    padding: 5px;
}