.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogList {
    padding: 20px;
}

.dialogItem {
    padding: 10px;
}

.active {
    color: blue;
}

.messageList{
    padding: 20px;
    margin-bottom: 10px;
}

.form .btn {
    display: block;
    padding: 5px;
    margin-top: 10px;
}

.messageItem {
    padding: 10px;
}
